body {
    padding-top: 50px;
    font-size: 12px !important;
}

.alert {
	font-size: 16px !important;
}

.container {
	width: 95% !important;
}

.main-content {
    padding: 40px 15px;
}

.sortable-header {
	cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.sorted-asc {
	background-image: url('../img/icon_up_sort_arrow.png');
	background-repeat: no-repeat;
	background-position: right;
}

.sorted-desc {
	background-image: url('../img/icon_down_sort_arrow.png');
	background-repeat: no-repeat;
	background-position: right;
}


.selectable-tbody:hover .selectable-td {
    background-color: rgb(238, 238, 238);
}

.selected-tbody .selectable-td {
    background-color: rgb(238, 238, 238) !important;
}

#coursesTable td {
	white-space: nowrap;
}

#coursesTable table {
	margin-bottom: 0;
}

.center {
	text-align: center;
}

#courseLevelFilter {
	margin-top: 10px;
	margin-bottom: 10px;
}

#registration-iframe {
    /*position: absolute;*/
    /*margin-left: -255px;*/
    /*top: 100px;*/
    /*left: 50%;*/
    /*z-index: 2147483647;*/
    background-color: white;
}