<div class="container">

	<div>
		<br>
		<h1>What is this?</h1>
		<br>
		<p class="lead">It's a tool to more easily and efficiently plan your class schedule. We've created a fluid and fast interface to the class catalog, with flexible filtering, sorting, and intuitive planning. Once you've planned your semester, we'll save it for you. 
		</p>
		<p class="lead">On your registration date, return here and login, and you'll be able to add your entire courseload with the click of a single button. We hope this helps you get into all your classes without scrambling through the catalog last-minute.</p>
	    <p><a href="index.html#/plan" class="btn btn-primary btn-lg" role="button">Get started &raquo;</a></p>
    </div>
	<br><br>
    <div>
        <h1>Who are we?</h1>
        <br>
        <p class="lead">We are a team of BYU computer science students looking to make life a little less stressful around registration time.</p>
        <p class="lead">Contact us at [email address].</p>
    </div>

</div><!-- /.container -->