<div class="container">


      <div class="jumbotron">
      	<br>
        <h1>Plan your classes.</h1>
        <h1>Register with a single click.</h1>
        <br>
        <p>Browse our fast, fluid catalog and add courses to your next semester plan until you're satisfied with your schedule. Then, on your registration date, click just once to register for <em>all</em> your planned classes.</p>
        <p>No more waiting for pageload after pageload. No more scrambling through the catalog at midnight.</p>
        <br>
        <p><a href="index.html#/plan" class="btn btn-primary btn-lg" role="button">Get started planning &raquo;</a></p>
      </div>

</div><!-- /.container -->