<div class="container">


      <div class="jumbotron">
      	<br>
        <h1>Plan your classes & register with a single click!</h1>
        <br>
        <p>Quickly browse our catalog and add courses to your next semester plan until you're satisfied with your schedule. Then, on your registration date, it takes just one click to register for all your planned classes at once.</p>
        <br>
        <p><a href="index.html#/plan" class="btn btn-primary btn-lg" role="button">Get started planning &raquo;</a></p>
      </div>

</div><!-- /.container -->