<!doctype html>
<html lang="en" ng-app="classregApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="University Class Registration System">
    <!--<link rel="shortcut icon" href="img/favicon.png">-->
    <title>Class Listings</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="CourseListCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Class Registration System</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Class Listing</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container main-content">

        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <label class="sr-only" for="filterByDepartment">Email address</label>
                        <select id="filterByDepartment" class="form-control" ng-model="basicFilters.dept" ng-change="filterOptions.searchQuery = ''">
                            <option value="">All departments</option>
                            <option ng-repeat="dept in depts" value="{{dept}}">{{dept}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="sr-only" for="filterByDescriptionQuery">Search class names & descriptions</label>
                        <input id="filterByDescriptionQuery" class="form-control" ng-model="filterOptions.searchQuery" placeholder="Search class names & descriptions">
                    </div>
                    <div class="col-sm-5">
						<small class="clearfix">Course Levels</small>
                        <span ng-repeat="level in courseLevels">
							<label class="checkbox checkbox-inline" for="{{level}}">
								<input type="checkbox" ng-model="filterOptions.levels[level]" name="group" id="{{level}}"> {{ level }}
							</label>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-12">
                <table id="coursesTable" class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="sortable-header" ng-class="sortedClass('dept')" ng-click="updateSort('dept')">Dept</th>
                            <th class="sortable-header" ng-class="sortedClass('number')" ng-click="updateSort('number')">#</th>
                            <th class="sortable-header" ng-class="sortedClass('name')" ng-click="updateSort('name')">Name</th>
							<th>Professor</th>
							<th>Day</th>
							<th>Building</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="course in filtered = (courses | filter:basicFilters | filter:searchQueryFilter | filter:courseLevelFilter | orderBy:sortBy:desc)">
                        <tr>
                            <td>{{ course.dept }}</td>
                            <td>{{ course.number }}</td>
                            <td>{{ course.name }}</td>
							<td></td>
							<td></td>
							<td></td>
                        </tr>
                        <tr ng-repeat="section in course.sections">
							<td></td>
							<td></td>
							<td></td>
							<td>{{ section.professorSurname + ", "+section.professorGivenName }}</td>
							<td>
								<div ng-repeat="time in section.times">
									<span ng-repeat="day in time.days">{{ day }}</span>
								</div>
							</td>
							<td>{{ section.buildingAbbreviation }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/app.js"></script>
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
